<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Airlines API Tests">
        <classes>
            <class name="testrunner.AirlinesTests">
                <methods>
                    <include name="createAirline"/>
                    <include name="createAirlineWithDefaultData"/>
                    <include name="createAirlineWithDataFaker"/>
                    <include name="createAirlineWithDataFakerAndENUM"/>
                    <include name="createAirlineAndVerifyResponse"/>
                    <include name="setup"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>